extends layout

block content
  div(class='containerWin')
    div(id='mainbox')
      p(class='winHeader') Nice job!

      div(class='moneytimeBox')
        div(class='timeBoxWin') 
          span(id='time') #{time}
          div(class='timeLabel') time elapsed
        

        div(id='moneyBoxWin') $#{money}

      p(class='leadCopy') Your generous reward has been sent to your new account, #{name}.  
        a(id="receiptOpen", href="#") view your receipt

      div(class='receipt')
          pre= transaction

      div 
        h4 so what now?
        p > boast on twitter
          | <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://registerrace.herokuapp.com" data-text="I just won $#{money} from the #DwollaRace" data-via="@dwolla">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        p 
          a(href="https://developers.dwolla.com/dev/pages/guides/oauth_account_creation", target="_blank")> learn more about the Dwolla API

      a(href='/')
        div(class='button') again?


